<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzl.hms.moduleone.mapper.Tb_balancementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tzl.hms.moduleone.entity.Tb_balancement">
        <id column="bm_id" property="bm_id" />
        <result column="bm_checkin_order_id" property="bm_checkin_order_id" />
        <result column="bm_guset_id" property="bm_guset_id" />
        <result column="bm_type" property="bm_type" />
        <result column="bm_total_rate" property="bm_total_rate" />
        <result column="bm_paid_money" property="bm_paid_money" />
        <result column="bm_receiv_money" property="bm_receiv_money" />
        <result column="bm_create_time" property="bm_create_time" />
        <result column="bm_operator" property="bm_operator" />
        <result column="bm_payment_model" property="bm_payment_model" />
        <result column="bm_remark" property="bm_remark" />
    </resultMap>

</mapper>
