<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzl.hms.moduleone.mapper.Tb_guestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tzl.hms.moduleone.entity.Tb_guest">
        <id column="gt_id" property="gt_id" />
        <result column="gt_name" property="gt_name" />
        <result column="gt_type" property="gt_type" />
        <result column="gt_card_catalog" property="gt_card_catalog" />
        <result column="gt_card_id" property="gt_card_id" />
        <result column="gt_country" property="gt_country" />
        <result column="gt_address" property="gt_address" />
        <result column="gt_zip" property="gt_zip" />
        <result column="gt_company" property="gt_company" />
        <result column="gt_telphone" property="gt_telphone" />
        <result column="gt_mobile" property="gt_mobile" />
        <result column="gt_gender" property="gt_gender" />
        <result column="gt_email" property="gt_email" />
        <result column="gt_greate_time" property="gt_greate_time" />
    </resultMap>

</mapper>
