<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzl.hms.moduleone.mapper.Tb_operatorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tzl.hms.moduleone.entity.Tb_operator">
        <id column="op_user_name" property="op_user_name" />
        <result column="op_password" property="op_password" />
        <result column="op_privilege" property="op_privilege" />
        <result column="op_address" property="op_address" />
        <result column="op_name" property="op_name" />
        <result column="op_telephone" property="op_telephone" />
        <result column="op_mobile" property="op_mobile" />
        <result column="op_zip" property="op_zip" />
        <result column="op_create_time" property="op_create_time" />
    </resultMap>

</mapper>
