<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzl.hms.moduleone.mapper.Tb_roomcatalogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tzl.hms.moduleone.entity.Tb_roomcatalog">
        <id column="rc_id" property="rc_id" />
        <result column="rc_name" property="rc_name" />
        <result column="rc_bed_number" property="rc_bed_number" />
        <result column="rc_pre_price" property="rc_pre_price" />
        <result column="rc_pre_discount" property="rc_pre_discount" />
        <result column="rc_hour_base_price" property="rc_hour_base_price" />
        <result column="rc_per_hour_price" property="rc_per_hour_price" />
    </resultMap>

</mapper>
