<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzl.hms.moduleone.mapper.Tb_roomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tzl.hms.moduleone.entity.Tb_room">
        <id column="rm_id" property="rm_id" />
        <result column="rm_area" property="rm_area" />
        <result column="rm_floor" property="rm_floor" />
        <result column="rm_prct_price" property="rm_prct_price" />
        <result column="rm_telphone" property="rm_telphone" />
        <result column="rm_state" property="rm_state" />
        <result column="rm_available" property="rm_available" />
        <result column="rm_catalog" property="rm_catalog" />
        <result column="rm_picture" property="rm_picture" />
        <result column="rm_prct_discount" property="rm_prct_discount" />
    </resultMap>

</mapper>
