<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>主页</title>
</head>
<body>
<form th:action="">
    姓名：<input type="text" value="" name=""/>性别：<select name="">
        <option>男</option>
        <option>女</option>
    </select><br><br>
    证件号：<input type="text"/>证件类型：<input type="text" name=""/><br><br>
    国籍：<input type="text" value="" name=""/>客人类型：<input type="text" name=""/><br><br>
    邮编：<input type="text" value="" name=""/>电话号码：<input type="" name=""/><br><br>
    手机号码：<input type="text" value="" name=""/><span style="width: 50px"></span>Email：<input type="" name=""/><br><br>
    家庭住址：<input type="text" value="" name=""/><br><br>
    工作单位：<input type="text" value="" name=""/><br><br>
</form>
</body>