<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzl.osms.mapper.OrderListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tzl.osms.entity.OrderList">
        <id column="order_list_id" property="orderListId" />
        <result column="order_from_id" property="orderFromId" />
        <result column="commodity_id" property="commodityId" />
        <result column="amount" property="amount" />
    </resultMap>

</mapper>
